{% extends 'users/base.html' %}

{% block content %}

<h2>Edit Post</h2>

<form action="/posts/{{ post.id }}/edit" id="newpostform" method="POST">
    <label for="posttitle" id="title">Title</label>
    <input type="text" name="title" id="posttitle" value="{{ post.title }}"> 

    <br>

    <br>
 
    <label for="postcontent">Content</label>
    <textarea name="content" id="postcontent" cols="40" rows="3">{{ post.content }}</textarea> 
    
    <br>
  
    <div class="checkboxes">
        {% for tag in tags %}
            <input type="checkbox" name="tags[]" value="{{ tag.id }}" id="box_{{ tag.id }}"
                {% if tag in post.tags %} checked {% endif %}>
            <label for="box_{{ tag.id }}" id="boxlabel">{{ tag.name }}</label>
            {% endfor %}
    </div>

    <button type="submit" id="addpost">Edit</button>
    <button type="button" formaction="/posts/{{post.id}}" formmethod="GET" id="cancel">Cancel</button>
</form>

{% endblock %}